-@ val prefix: String
-@ val id: String
-@ val validate : Boolean = false

.input
  input(type="file" name={prefix} id={id})
  span.help-inline= if(validate) errors.mkString("; ") else constraintInfos.mkString("; ")
  -# span.help-block this is the help-block
