

-@ val prefix : String
-@ val formUniqueId : String = ""

- val groupprefix = (prefix + "." + name)
- for((f, index)<-(forms :+ formfactory()).zipWithIndex) {
-   val subprefix = (groupprefix + "." + index)
-   val id = formUniqueId + subprefix.replace(".","_")
-   template(f, "index")("prefix" -> subprefix, "formUniqueId" -> formUniqueId, "id" -> id)
- }
