-@ val prefix: String
-@ val formUniqueId : String = ""

- it.fixedValue match {
-    case Some(value) => {
-        context << value
-        template(it, "fixedfield")("prefix" -> prefix, "formUniqueId" -> formUniqueId)
-        }
-    case None => template(it, "field")("prefix" -> prefix, "formUniqueId" -> formUniqueId)
-    }
