

-@ val prefix : String 
-@ val formUniqueId : String = ""
-@ val validate : Boolean = false

- val subprefix = (prefix + "." + key)
- val id = formUniqueId + subprefix.replace(".","_")

span.control-group.control-group-inline(class={if(validate && form.hasErrors) "error" else ""})
  - template(form, "inline")("prefix" -> subprefix, "formUniqueId" -> formUniqueId, "id" -> id, "placeholder" -> displayName)
