

-@ val prefix : String
-@ val idPrefix : String = ""
-@ val validate : Boolean = false

- val subprefix = (prefix + "." + key)
- val id = idPrefix + subprefix.replace(".","_")

span.control-group.inline(class={if(validate && form.hasErrors) "error" else ""})
  - template(form, "hidden")("prefix" -> subprefix, "idPrefix" -> idPrefix, "id" -> id)
