-@ val prefix: String
-@ val id: String
-@ val validate : Boolean = false

-@ val placeholder: String = ""
-@ val classattr: String = "input-xxlarge"

.input
  - if (options.size == 1) {
  = options.head._2
  input(type="hidden" name={prefix} id={id} value={prefill.map(_.s).getOrElse("")})
  - } else {
  select(name={prefix} id={id} class={classattr})
    - for((k,v) <- options) {
    option(value={k}){:selected => {k.s==prefill.map(_.s).getOrElse("")} }= v
    - }
  span.help-inline= if(validate) errors.mkString("; ") else constraintInfos.mkString("; ")
  -# span.help-block this is the help-block
  - }
