-@ val prefix: String
-@ val id: String
-@ val validate : Boolean = false

-@ val placeholder: String = ""
-@ val classattr: String = "input-large"
-@ val validate : Boolean = false

.input
  input(type="text" name={prefix} id={id} value={prefill} placeholder={placeholder} class={classattr})
  span.help-inline= if(validate) errors.mkString("; ") else constraintInfos.mkString("; ")
  -# span.help-block this is the help-block
