-@ val prefix: String
-@ val id: String
-@ val placeholder: String
-@ val classattr: String = "input-large"

input(type="text" name={prefix} id={id} value={prefill} placeholder={placeholder} class={classattr})
-# span.help-block= errors.mkString("; ")
-# span.help-block this is the help-block
