- import lib.ScalateOps._

-@ val it : forms.GenericFormField
-@ val prefix : String 
-@ val formUniqueId : String = ""
-@ val validate : Boolean = false

- import it._

- val subprefix = (prefix + "." + key)
- val id = formUniqueId + subprefix.replace(".","_")

span.control-group.control-group-inline(class={if(validate && form.hasErrors) "error" else ""})
  - viewWithArgs(form, "inline", context)('prefix -> subprefix, 'formUniqueId -> formUniqueId, 'id -> id, 'placeholder -> displayName)
