- import lib.ScalateOps._

-@ val it : forms.GenericRepeatedFormField
-@ val prefix : String
-@ val formUniqueId : String = ""
- import it._

- val groupprefix = (prefix + "." + name)
- for((f, index)<-(forms :+ formfactory()).zipWithIndex) {
-   val subprefix = (groupprefix + "." + index)
-   val id = formUniqueId + subprefix.replace(".","_")
-   viewWithArgs(f, "index", context)('prefix -> subprefix, 'formUniqueId -> formUniqueId, 'id -> id)
- }
