- import lib.ScalateOps._

-@ val it : forms.GenericConstrainedNestedForm
-@ val prefix: String
-@ val idPrefix : String = ""

- it.fixedValue match {
-    case Some(value) => {
-        context << value
-        viewWithArgs(it, "fixedfield", context)('prefix -> prefix, 'idPrefix -> idPrefix)
-        }
-    case None => viewWithArgs(it, "field", context)('prefix -> prefix, 'idPrefix -> idPrefix)
-    }
