-@ val it : forms.JodaDateForm
-@ val prefix: String
-@ val id: String
-@ val validate : Boolean = false

- import it._
- import model.GlobalFormats.dateformat

.input
  input(type="text" name={prefix} value={prefill.map(dateformat.print(_)).getOrElse("")} id={id})
  span.help-inline= if(validate) errors.mkString("; ") else constraintInfos.mkString("; ")
  :&javascript
    $('##{id}').datepicker({
        format: 'yyyy-mm-dd'
    });
