-@ val it : forms.TextAreaForm
-@ val prefix: String
-@ val id: String
-@ val validate : Boolean = false

-@ val classattr: String = "input-large"
-@ val rows: Int = 10
- import it._

.input
  textarea(name={prefix} id={id} rows={rows} class={classattr})= prefill
  span.help-inline= if(validate) errors.mkString("; ") else constraintInfos.mkString("; ")
  -# span.help-block this is the help-block
